<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="666" />
    <add key="mainForm.Location.Y" value="110" />
    <add key="mainForm.Width" value="588" />
    <add key="mainForm.Height" value="800" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEABN/G/j+YMddDwYGE6fw/9PYGMDAxMkuPZUJwjZwWtSWwAdjAwAcCw5XMAAAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAPtsFfT+YMddDwaGac4Vb2PEGcBgmjMAxxRbBRgAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAPtsFfT+YMddD8aG3c4Vb2PEGYAAxAYAZFuJ5hgAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAPtsFfT+YMddDwYgqHgbI84ABQAsTNHQGAAAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAJufHPT+YMddDwYgWP0mRpwBCgBQ5A7GGAAAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAJufHPT+YMddDwYgWP0mRpwBCgBQ5A7GGAAAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAJufHPT+YMddDwYgWP0mRpwBCgBQ5A7GGAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAJufHPT+YMddDwYgWP0mRpwBCgBQ5A7GGAAAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAJufHPT+YMddj4hD/Q6r38SIMwABiA0A5OOBbxgAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAJufHPT+YMddjwv1Ja6r38SIMwABiA0ADlkDZxgAAAA=" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAJufHPT+YMddDwZmC+fVb2LEGUAAyAYARju3tRgAAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAJufHPT+YMddDwaGBtfVb2LEGcCgwRUAXgTq2BgAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAOPrDHp/sOOuR1z/PvvfU04zMgDBj+Dd9lLnk5hAbLF12+17Z2eA2YIRB+1fpaeC2SfLDtnrTkkBs59d2GQfMjMBzF79cZ/95kMQ9WtkdtlLtGWC2XtKFts37oWYqbhhmf3MoDQw+87PZfYA1sDNr4QAAAA=" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEACvbFv7+YMddDwYGMVvjtacYGcDAw3aqaDoThD3N9rJeCpw9Uy2LCaYmT+EAC4wdvCQXIt6Qa5eSkQdTb7dobxJUnNMue2sMVDzRDgD1rlCXeAAAAA==" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAKsujHl/sOOuB0MDp93Bvb8YGaDAzTORCcLysMlmi4ayT9h8vVsOF//8sQnOnv1dHMqeZvtTIBPKfmh7z2wGTI2tk0cKhN2gZOdXpQNXAwAXTu9jhAAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAMubEvf+YMddD56QNieRS+FMDEBgWtbm9EUuGczOqm9z6lHJALNX2bQ5LbmXBmYXBLU5cbhC1CyUbnNKW5kIZlt8aHU6E58JZp983up0yzodzPa+1up0/DxEvcbTViffJSlg9sfCNicAtp+A8IQAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAMubEvf+YMddD7FSDUeRS+FMDEDwdr6G4xe5ZDC7crWGY49KBph9OFzDccm9NDBbsFjDkcMVoiZUT8MxbWUimP3ku7rjmfhMMDvwrbrjLet0MDvxurrj8fMQ9Syv1B19l6SA2ZNnaTgCANRkcfiEAAAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAMubEvf+YMddjzPbljiIXApnYgACucQlDl/kksFsNq8lDj0qGWB20cclDkvupYHZ13YtceBwhajxc1nqkLYyEcw22LjU4Ux8Jpgddmypwy3rdDDb7NNSh+PnIeo/nFnq4LskBcy+lL3EAQCXEM9NhAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEABN/G/j+YMddD7Of2Y4zp5xmZACC3sWCjmxNSUwgdtk5bcdtBzPA7MtXtRwd+lLBbN1uM8f/k1PA7HUqGo7/ihIg7Am/HHJfQdT/2K3taNuaCWafeBPpaDkdYuaB85aOhyrSwOznU6wcAbGq2aGEAAAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAPM8Efj+YMddj02h7Y7pO08zMgDB/gtajmxNSUwgdtB7E8dtBzPA7GV6Vo4OfalgtplwgOP/ySlgdsqNyw7/ihLA7Lq+OQ65ryDqOXbIOtq2ZoLZOeFSjpbTIWbOEP/hcKgiDcxeu1/IEQDILDLohAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEABN/G/j+YMddD4VrfQ4zp5xmZACCyDUbHNiakphA7BfNixy2HcwAs8WWLHdw6EsFs0VlZzv8n5wCZj+K73f4V5QAZn/M6HTIfQVRv31Tn4NtayaYnekm4mg5HWLmdatPDocq0sBsh66fDgDyxW7ZhAAAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEABN/G/j+YMddj39vIx1mTjnNyAAEn2s6HdiakphA7CVM1Q7bDmaA2TovJzs49KWC2Yu81zr8n5wCZue8D3b4V5QAZjMweNjnvoKoX6M+y8G2NRPMvtD/zcFyOsRMteUfHQ5VpIHZLW/XOQAAszOgFYQAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEABN/G/j+YMddj+XT2hxmTjnNyAAEZ7NuOrA1JTGB2BuO9DtsO5gBZhtplDs49KWC2ZNu7XL4PzkFzK44FuTwrygBzNbxVnbIfQVRHxu/0MG2NRPM/rdZxtFyOsTMpIgHDocq0sDseLNvDgBZwkhVhAAAAA==" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEABN/G/j+YMddj2NXTzrOnHKakQEIbnBIOrI1JTGB2HNO9jhuO5gBZnNc7XJ06EsFs3V+tTj+n5wCZr+52uT4rygBzP5jF+2Y+wqi/oTBFEfb1kww++uWFkfL6RAzlWR6HA9VpIHZqptWOAIAb8Jn2IQAAAA=" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEABN/G/j+YMddD32vF44zp5xmZAACvkxhR7amJCYQO+ppveO2gxlg9kqtJkeHvlQw+5tYk+P/ySlgdsXThY7/ihLA7D91iY65ryDqXR5mO9q2ZoLZbpPWOFpOh5iZsqrT8VBFGphddKjZEQCej7fWhAAAAA==" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEABN/G/j+YMddjzkxOxxnTjnNyAAEnrOEHdmakphAbKbH9Y7bDmaA2VNSCx0d+lLB7JqVRY7/J6eA2T4pUx3/FSWA2dOehjjmvoKoPyfX4Wjbmglml81tcbScDjEzaUaa46GKNDBbbrKfIwBk2bz1hAAAAA==" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEABN/G/j+YMddjzX71JxmTjnNyAAEBSZXHdmakphA7IUhbx23HcwAs1UmPnV06EsFs901vjr+n5wCZmft5HX6V5QAZh+feM8x9xVE/bKgj462rZlgtnw7v5PldIiZTxZ9djxUkQZmF6946QgAcsoNQIQAAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="" />
    <add key="/intelcpu/0/clock/1/values" value="" />
    <add key="/intelcpu/0/clock/2/values" value="" />
    <add key="/intelcpu/0/clock/3/values" value="" />
    <add key="/intelcpu/0/clock/4/values" value="" />
    <add key="/intelcpu/0/clock/5/values" value="" />
    <add key="/intelcpu/0/clock/6/values" value="" />
    <add key="/intelcpu/0/clock/7/values" value="" />
    <add key="/intelcpu/0/clock/8/values" value="" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="312" />
    <add key="treeView.Columns.Value.Width" value="125" />
    <add key="treeView.Columns.Min.Width" value="125" />
    <add key="treeView.Columns.Max.Width" value="125" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>